<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<AsyncRoot level="off">
			<AppenderRef ref="Console" />
		</AsyncRoot>
        <AsyncLogger  name="it.diepet" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
	</Loggers>
</Configuration>